/* root variable */
:root {
    --backgroud-main: black;
    --background-secondary:grey;
    --text-main:white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-main);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://source.unsplash.com/1600x900/?travel);
    background-size: cover;
    background-position: center;
}

#center {
    background-color: var(--backgroud-main);
    opacity: 0.8;
    height: fit-content;
    width: fit-content;
    padding:10px 100px;
}

h1 {
    color:var(--text-main);
}

#search-text {
    text-align: center;
}

/* #search-submit {
    
} */

h3 {
   font-size: 1.5rem;
}

.search-buttons {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-main);
    font-size: 1rem;
    padding: 10px 20px;
}

#trash-icon {
    position: relative;
    right: -100px;
    bottom: -32px;
}

/* @media screen and (max-width: 844px) {

} */
