/*root variables*/
:root {
    --mainTill: #ABE7D8;
    --blueNavy: #014458;
    --mediumRed: #F35642;
    --orangePeel:#FDB235;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--orangePeel);  
    background-image: url(../images/element5-digital-uE2T1tCFsn8-unsplash.jpg);
    background-size:cover;
    background-position: center;  
}

#home {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 30px;
}

#search-from-and-results {
    margin:250px; 
    background-color: var(--blueNavy);
    border-radius: 20px;
}

#search-form {
    background-color: var(--orangePeel);
    width: 40%;
    padding:10px;
    border-radius: 20px;
    
}

.destination {
    width: 30%;
    font-size:1.5rem;
    text-align: center; 
    color: var(--mediumRed);
    border: solid;
    border-color: var(--blueNavy);   
}

#result-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}