      /* Tooltip text */
      .card .tooltext {
        visibility: hidden;
        width: 200px;
        background-color: blue;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px; 
       
        /* Position the tooltip text - see examples below! */
        position:relative;
      } 
      
      .card .tooltext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: blue transparent transparent transparent;
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      .card:hover .tooltext {
        visibility: visible;
      }

      #currIndicator {
        height: 15px;
        width: 15px;
      }

      .settingsField {
        width: 200px;
      }


      /* TOGGLE SWITCH */

      /* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 5px;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f1f9f9;
}

.currencyFlag {
  height: 40px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}