/* root variable */
:root {
    --backgroud-main: black;
    --background-secondary:rgba(174, 174, 174, 0.507);
    --text-main:white;
}

* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-main);
    background-image: url(https://source.unsplash.com/1600x900/?travel);
    background-size: cover;
    background-position: center;
}

/* buttons home and settings */
#home {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 30px;
}

.btn-home-look {
    background-color: var(--backgroud-main);
    border-color: var(--backgroud-main);
    color: var(--text-main);
}

.btn-home-look:hover {
    background-color: var(--background-secondary);
}


/* settings modal */
#myModal {
    color:var(--backgroud-main);
}

.btn-close:hover {
    background-color: var(--background-secondary);
}

.modal-content {
    padding: 10px;
}

#tempDefault {
    display: flex;
    justify-content: center;
}

.default {
    margin-left: 20px;
}

.default:hover {
    background-color: var(--background-secondary);
}

.dropdown {
    padding-top: 20px;
}

.showDefaultCurrency {
    text-align: center;
    padding-top: 10px;
}

#delete-searchs {
    display: flex;
    justify-content: space-evenly;
}

#delSearchHistory {
    border-radius: 20px;
}

#delSearchHistory:hover {
    background-color: var(--background-secondary);
}


/* Page content engloved in box */
#center {
    font-size: 1rem;
    background-color: var(--backgroud-main);
    opacity: 0.8;
    width: 70%; 
    border-radius: 20px;
}

.saveBtn:hover {
    background-color: var(--background-secondary);

}

/* Country title and country flag */
.chosenCity {
    font-size: 3rem;
}

.currencyFlag {
    height: 40px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* 3 cards of information :weather, currency and youtube videos */
h3 {
    font-size: 2rem;
    color: var(--text-main);
    text-align: center;
}

.cards-last-page {
    color: var(--text-main);
    background-color:var(--background-secondary);
}

/* weather-currency block */
#weather-currency {
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 1.5rem;
}

.weather, .currency {
    width: 50%;  
}

/* weather icon */
.icon {
    background-color: var(--backgroud-main);
    border-radius: 20px;
}

/* currency info */

.currency {
 display: flex;
 align-items: center;
 justify-content: center;

}

#currency-title {
    padding-bottom: 60px;
}

#currency-info {
   padding: 0px 0 30px 0 ; 

}

/* currency indicator icon */
#currIndicator {
    height: 30px;
    width: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:2px 4px ;
    background-color: var(--backgroud-main);
    border-radius: 20px;
  }
      /* Tooltip text */
      .card .tooltext {
        visibility: hidden;
        width: 200px;
        background-color: blue;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px; 
       
        /* Position the tooltip text - see examples below! */
        position:relative;
      } 
      
      .card .tooltext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: blue transparent transparent transparent;
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      .card:hover .tooltext {
        visibility: visible;
      }

/* youtube content */
.youtube {
    margin:10px;
}

.video-search {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

#videos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* End youtube content */

/* Responsive code */
@media screen and (max-width: 844px) {
 
    body {
        background-color: var(--backgroud-main);
        background-image: none;
    }

   #home {
    display: flex;
    flex-direction: column;
   } 

   #center {
    display:flex;
    flex-direction: column;
    opacity: 1;
   }

   .cards-last-page {
    width: 100%;
    padding: 50px;
    }
 
    #weather-currency {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .youtube {
        margin: 0;
        padding: 0;
    }

    #videos {
        display: flex;
        flex-direction: column;
    }
}