/* root variable */
:root {
    --backgroud-main: black;
    --background-secondary:rgba(174, 174, 174, 0.507);
    --text-main:white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-main);
    height:100vh;
    margin: 0;
    background-image: url(https://source.unsplash.com/1600x900/?travel);
    background-size: cover;
    background-position: center;
}

#home {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 30px;
}

.btn-home-look {
    background-color: var(--backgroud-main);
    border-color: var(--backgroud-main);
    color: var(--text-main);
}

.btn-home-look:hover {
    background-color: var(--background-secondary);
}

#center {
    font-size: 1rem;
    background-color: var(--backgroud-main);
    opacity: 0.8;
    height:fit-content;
    width: 70%;
    padding: 1rem;
    border-radius: 20px;
}

.chosenCity {
    font-size: 3rem;
}

.currencyFlag {
    height: 40px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    font-size: 2rem;
    color: var(--text-main);
    text-align: center;
}

.cards-last-page {
    color: var(--text-main);
    background-color:var(--background-secondary);
    
}

#weather-currency {
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 1.5rem;
}

.weather {
    width: 50%;  
}

#block {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align:center;
}


.currency {
    width: 50%;
}

#currIndicator {
    height: 15px;
    width: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#youtube {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* #youtube-header {
    position: absolute;
    top:0;
    margin-top: 10px;
} */

.video {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 80%;
   /* background-color: var(--background-secondary) transparent 0 ; */
}

h5 {
    font-size: 1rem;
    text-align:center;
}

/* Temporary fixs to test css without calling youTubeApi */
.video-search {
    background-image: url(../images/mock-up.avif);
    height: 315px;
    width: 420px;
    margin:10px;
}

@media screen and (max-width: 844px) {
 
    body {
        background-color: var(--backgroud-main);
        background-image: none;
    }

   #home {
    display: flex;
    justify-content: center;
    align-items: center;
   } 

   #center {
    display:flex;
    flex-direction: column;
    opacity: 1;
   }

   #weather-currency {
    display: flex;
    flex-direction: column;
   }

   #cards-weather-currency {
    flex-direction: column;
    align-items: center;
   }

   .video {
    display: flex;
    flex-direction: column;
   }
   
}